label.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 32px;
}

label.checkbox > input {
    margin-right: 12px;
    width: 18px;
    cursor: pointer;
    height: 18px;
}