
article.chip {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 28px;
    padding: 0 12px;
    margin: 0 6px 6px 0;
    background: var(--guigo-surface-light);
    font-weight: 500;
    font-size: 13px;
    border-radius: 32px;
    transition:
        transform linear 120ms,
        box-shadow linear 120ms;
}

article.chip > button {
    margin-left: 4px;
    margin-right: -8px;
}

article.chip > button .effects {
    width: 24px !important;
    height: 24px !important;
}

article.chip[data-action]:active {
    transform: scale(1.01);
    box-shadow: var(--shadow-2);
}

article.chip > button:last-child::before {
    font-size: 18px;
    color: var(--guigo-surface-medium);
}



label.chips {
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    /* width: 100%; */
    max-height: 180px;
    grid-template-rows: 20px 1fr;
}

label.chips > div {
    min-height: 32px;
    height: 100%;
    grid-row: 2;
    align-self: stretch;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #0002;
    display: inline-flex;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
    padding: 6px;
    gap: 8px;
}

label.chips > div > article {
    order: 1;
    margin: 0;
}

label.chips > div > input[type=text] {
    box-sizing: border-box;
    border: none;
    font-size: 14px;
    color: #212121;
    /* TODO need to fix this color for dark mode */
    background: transparent;
    flex: 1;
    min-width: 40px;
    order: 2;
    height: 28px;
    align-self: flex-start;
}

label.chips > span:last-child {
    position: absolute;
    left: 12px;
    top: 20px;
    white-space: nowrap;
    font-size: 16px;
    color: var(--guigo-surface-medium);
    pointer-events: none;
    transform: translateY(-11px);
    font-size: 11.5px;
    transition:
        font-size linear 120ms,
        margin linear 120ms;
}

label.chips > span.helper {
    position: absolute;
    bottom: -18px;
    font-size: 12px;
    left: 12px;
    color: var(--guigo-surface-medium);
}

section.chips {
    display: flex;
    overflow-x: auto;
    margin-top: 14px;
    padding: 0 0 0 14px;
    height: 38px;
    border-bottom: 1px solid #ddd;
}

section.chips::-webkit-scrollbar {
    display: none;
}

section.chips::after {
    content: "";
    display: block;
    min-width: 8px;
    height: 12px;
}
