
:root {
    --guigo-text: #000;

    --guigo-text-error: #ef5350;
    --guigo-border-error: #ef5350;

    --guigo-ripple-color: #aaf5;

    --guigo-surface-hover: #0001; 

    --guigo-surface-light: #e0e0e0; 
    --guigo-surface-medium: #666;
    --guigo-surface: #fff;
    --guigo-surface-level-1: #fff;

    --guigo-border: #ccc;

    --guigo-border-accent: #000;
}

@media (prefers-color-scheme: dark){

    :root {
        --guigo-text: #ddd;
    
        --guigo-text-error: #ef5350;
        --guigo-border-error: #ef5350;
    
        --guigo-ripple-color: #aaf5;
    
        --guigo-surface-hover: #0001; 
        --guigo-surface-level-1: #303030;
        --guigo-surface-light: #262626; 
        --guigo-surface-medium: #666;
        --guigo-surface: #1f1f1f;
    
        --guigo-border: #555;
    
        --guigo-border-accent: #fff;
    }

}