
menu {
    width: fit-content;
    min-width: 120px;
    max-width: 280px;
    padding: 8px 0 !important;
    margin: 0;
}

menuitem {
    display: flex;
    height: 42px;
    align-items: center;
    padding: 0 16px;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
}

menuitem:hover {
    background: var(--guigo-surface-hover);
}

menuitem[data-icon-pre]::before {
    margin-right: 14px;
    margin-left: -8px;
    pointer-events: none;
}
