
aside#dev-panel {
    position: fixed;
    bottom: 200px;
    background: #ddd;
    box-shadow: var(--shadow-8);
    right: 8px;
    padding: 8px;
    width: 16px;
    overflow: hidden auto;
    transition: width ease .3s;
    border-radius: 6px;
    box-sizing: border-box;
    z-index: 100;
}

aside#dev-panel[data-position=fullscreen] {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

aside#dev-panel[data-position=dock] {
    position: sticky;
    width: 100vw;
    height: 40vh;
    bottom: 0;
    left: 0;
}

aside#dev-panel > header {
    display: flex;
    gap: 12px;
    justify-content: end;
}

aside#dev-panel > header > button{
    height: 36px;
    width: 36px;
}

aside#dev-panel > label {
    display: block;
    font-weight: bold;
    margin: 0;
    box-sizing: border-box;
}

aside#dev-panel > pre {
    max-height: 150px;
    overflow: auto;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 6px;
    box-sizing: border-box;
}

aside#dev-panel > .object {
    overflow: auto;
}

aside#dev-panel .object {
    padding-left: 16px;
    display: block;
    font-family: "Source Code Pro";
    background: #eee;
}

aside#dev-panel .line {
    display: block;
    white-space: nowrap;
    /* overflow: hidden; */
}

aside#dev-panel .key {
    font-weight: bold;
    margin-right: 6px;
    vertical-align: middle;
}

aside#dev-panel .key + span {
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}

aside#dev-panel .close {
    vertical-align: middle;
}

aside#dev-panel .toggle {
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 4px;
    width: 12px;
    height: 12px;
    background: #bcf;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

aside#dev-panel .toggle::before {
    font-size: 12px;
}

aside#dev-panel .count {
    margin: 0 8px;
    vertical-align: middle;
    font-size: 0.9em;
}