
dialog.guigo-free {
    display: block;
    box-shadow:
        0 0 max(100vw, 100vh) max(100vw, 100vh) #0008,
        var(--shadow-3);
    z-index: 13;
    color: var(--guigo-text);
    border: none;
    border-radius: 6px;
    padding: 8px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    min-width: 200px;
    min-height: 100px;
    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 32px);
}

dialog.guigo-free > :first-child {
    margin-top: 0;
}