
.drawer-menu {
    background: var(--guigo-surface-level-1);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    top: 0;
    height: 100vh;
    width: 400px;
    max-width: calc(100vw - 64px);
    box-shadow: var(--shadow-8);
    transform-style: preserve-3d;
    transition:
        box-shadow linear 1s,
        left ease .25s;
}

.drawer-menu.dragging {
    transition: initial;
}

.drawer-menu::before {
    display: block;
    content: "";
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 300vw;
    height: 100vh;
    background: #000a;
    opacity: var(--bg-opacity);
    transform: translateZ(-10px);
}

.drawer-menu.closed {
    box-shadow: none;
}

.drawer-menu.closed::before {
    pointer-events: none;
}

.drawer-menu > ul {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
}

.drawer-menu > ul > li {
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 16px;
}
