
.guigo-free {
    box-sizing: border-box;
    position: fixed;
    width: fit-content;
    border-radius: 4px;
    background: var(--guigo-surface-level-1);
    box-shadow: var(--shadow-1);
    z-index: 1;
    overscroll-behavior: contain;
}

.guigo-free::-webkit-scrollbar {
    display: none;
}

.guigo-scrim {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    background: transparent;
}