@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-display: block;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v110/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
    /* src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v100/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2'); */
    /* src: url(https://fonts.gstatic.com/s/materialicons/v125/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2'); */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');

@keyframes ph-text {
    0% { opacity: .2 }
    50% { opacity: .5 }
    100% { opacity: .2 }
}

[data-loading] {
    animation: ph-text 1s infinite;
}

[data-loading], [data-loading] > * {
    pointer-events: none;
    font-family: 'Flow Circular' !important;
}

[data-loading] img {
    background-color: var(--guigo-surface-medium);
}


[data-icon-pre]::before,
[data-icon]::before,
[data-icon-pos]::after,
.icon {
    text-align: center;
    font-family: 'Material Icons';
    font-size: 24px;  /* Preferred icon size */
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    display: inline-block;
    line-height: 1;
    cursor: inherit;
    font-style: normal;
    font-weight: normal;
    color: inherit;
    pointer-events: none;
}

[data-icon-pos]::after {
    content: attr(data-icon-pos);
}

[data-icon-pre]::before {
    content: attr(data-icon-pre);
    margin-right: 8px;
}

[data-icon]::before {
    content: attr(data-icon);
}

html, button, input, select, textarea, a, video {
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 4px; height: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--guigo-surface-medium);
}

body {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    min-width: 100vw;
    padding: 0;
    margin: 0;
    color: var(--guigo-text);
    background: var(--guigo-surface);
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    padding-top: 0.1px; /* HACK WHY? */
    background-color: var(--guigo-surface);
    scroll-behavior: smooth;
}

[disabled] {
    pointer-events: none;
    opacity: .5;
}

span {
    display: inline-block;
}

[hidden] {
    display: none;
}

a, button, select {
    cursor: pointer;
    text-decoration: none;
}

:root {

    --shadow-1: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    --shadow-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    --shadow-3: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    --shadow-4: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);

    /* Shadow 6dp */
    --shadow-5: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);

    /* Shadow 8dp */
    --shadow-6: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);

    /* Shadow 9dp */
    --shadow-7: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);

    /* Shadow 12dp */
    --shadow-8: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);

    /* Shadow 16dp */
    --shadow-9: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);

    /* Shadow 24dp */
    --shadow-10: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
}

[data-z=2] { box-shadow: var(--shadow-2); z-index: 2; }
[data-z=3] { box-shadow: var(--shadow-3); z-index: 3; }
[data-z=4] { box-shadow: var(--shadow-4); z-index: 4; }
[data-z=5] { box-shadow: var(--shadow-5); z-index: 5; }
[data-z=6] { box-shadow: var(--shadow-6); z-index: 6; }
[data-z=7] { box-shadow: var(--shadow-7); z-index: 7; }
[data-z=8] { box-shadow: var(--shadow-8); z-index: 8; }
[data-z=9] { box-shadow: var(--shadow-9); z-index: 9; }
[data-z=10] { box-shadow: var(--shadow-10); z-index: 10; }

main {
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    grid-gap: 16px;
}

h2 {
    text-align: center;
}

main > header {

}

button {
    display: inline-flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    height: 32px;
    position: relative;
    padding: 0 16px;
    background-color: transparent;
    border: 1px solid var(--guigo-surface-medium);
    border-radius: 4px;
    color: inherit;
    overflow: hidden;
    transition:
        opacity ease 400ms;
}

/* Icon Button */

button[data-icon-pre] {
    padding-left: 12px;
}

button[data-icon-pre]::before {
    font-size: 18px;
}

button[data-icon] {
    border: none;
    padding: 0;
    min-width: 24px;
    height: 24px;
    overflow: visible;
    clip-path: circle(110%);
}

button[data-icon=more_vert] {
    min-width: 8px;
}

form {
    grid-gap: 12px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: inherit;
}

form > :is(label, fieldset) {
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 24px !important;
}


label > input {
    display: block;
    font-size: 14px;
    margin-top: 3px;
    border: 1px solid var(--guigo-border);
    color: var(--guigo-text);
    padding: 0 8px;
    height: 32px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

label > textarea {
    display: block;
    margin-top: 3px;
    padding: 6px 8px;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    border: 1px solid var(--guigo-border);
}

:is(label, fieldset)[data-error] {
    color: var(--guigo-text-error);
}

:is(label, fieldset)[data-error] > :is(input, textarea, .radio) {
    border-color: var(--guigo-border-error);
}

:is(label, fieldset)[data-error]::after {
    content: attr(data-error);
    color: var(--guigo-text-error);
    position: absolute;
    white-space: nowrap;
    font-size: 12px;
    margin-left: 10px;
    bottom: -16px;
}

form > footer {
    margin-top: 16px;
}




#bottom-stack {
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    display: grid;
    align-content: end;
    grid-auto-rows: min-content;
}

#bottom-stack > * {
    pointer-events: auto;
}



div.guigo-ripple {
    width: var(--ripple-size);
    height: var(--ripple-size);
    background: var(--guigo-ripple-color, #aaf5);
    position: absolute;
    border-radius: 50%;
    top: var(--ripple-y);
    left: var(--ripple-x);
    display: inline-block;
    /* animation: grow; */
    transform-origin: center;
    transform: scale(0);
    pointer-events: none;
}



section.list {
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

section.list > section {
    display: grid;
    padding: 8px 24px 8px 16px;
    /* gap: 6px 16px; */
    height: 56px;
    align-content: center;
    justify-content: stretch;
    font-size: 14px;
    box-sizing: border-box;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 1px solid var(--guigo-border);
    position: relative;
    overflow: hidden;
}

/* section.list > section:first-child {
    border-top: 1px solid var(--guigo-border);
} */

section.list > section.l2 {
    grid-template-rows: 2;
    height: 72px;
}

section.list > section.action {

}

section.list > section > :is(strong, span) {
    grid-column: 2;
    margin: 3px 0;
    pointer-events: none;
}

section.list > section > strong {
    font-weight: 500;
    font-size: 16px;
}

section.list > section > label:last-child {
    grid-column: -1;
    grid-row: 1 / -1;
    pointer-events: none;
}