
ul {
    /* list-style: none; */
    padding-left: 24px;
    /* margin: 8px 0; */
    /* width: 100%; */
    overflow: hidden;
    box-sizing: border-box;
}

ul > li {
    /* display: flex; */
    /* height: 48px; */
    /* padding: 0 16px; */
    /* overflow: hidden; */
    /* font-size: 14px; */
    /* position: relative; */
    align-items: center;
    transition: background ease .5s;
}
/* font-weight: 500; */
/*content-visibility: auto;*/
/*contain-intrinsic-size: 100% 48px;*/
/*
ul > li[data-icon-pre]::before {
    margin-right: 32px;
    grid-row: span 2;
    align-self: center;
}

ul > li > label {
    grid-column: 2;
    grid-row: span 2;
    justify-self: left;
    text-align: left;
    align-self: center;
    font-size: 16px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    pointer-events: none;
}

ul > li.lines {
    content-visibility: visible;
    min-height: 64px;
    grid-gap: 5px 0;
    max-height: 88px;
}

ul > li.lines > label {
    align-self: end;
    grid-row: 1;
    height: 20px;
    overflow: hidden;
}

ul > li > span {
    grid-column: 2;
    grid-row: 2;
    justify-self: left;
    text-align: left;
    align-self: top;
    opacity: .6;
    font-size: 14px;
}

ul > li.avatar {
    height: 56px;
    contain-intrinsic-size: 100% 56px;
}

ul > li.avatar > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 16px;
    grid-row: span 2;
    align-self: center;
}

ul > li.lines.avatar {
    min-height: 72px;
}

ul > li > button {
    grid-column: -1;
    justify-self: right;
    align-self: center;
    grid-row: 1 / -1;
    color: var(--color-text);
    opacity: .6;
}*/
