
.panel {
    box-sizing: border-box;
    position: fixed;
    width: fit-content;
    max-height: calc(100vh - 16px);
    padding: 8px;
    border-radius: 4px;
    background: var(--guigo-surface-level-1);
    box-shadow: var(--shadow-8);
    z-index: 103;
    transform-origin: top left;
    overscroll-behavior: contain;
    margin: 0;
}

.panel::-webkit-scrollbar {
    display: none;
}

.panel-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 102;
    background: transparent;
}