
label.radio {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--guigo-text);
    padding: 8px;
    position: relative;
    overflow: hidden;
}

form label.radio {
    border: 1px solid var(--guigo-border);
    border-radius: 3px;
}

label.radio > input {
    vertical-align: baseline;
    margin-right: 10px;
    margin-left: 0px;
    width: 18px;
    height: 18px;
    margin-top: 0px;
    cursor: pointer;
}

fieldset.radios {
    margin: 0;
    border: none;
    padding: 0;
}

form fieldset.radios {
    gap: 0 8px;
    display: flex;
    flex-wrap: wrap;
}

fieldset.radios > label:first-child {
    flex: 100%;
    margin-bottom: 3px;
}
