
label.select {
    position: relative;
}

label.select::after {
    right: 5px;
    bottom: 24px;
    height: 4px;
    position: absolute;
}

ul.dropdown {
    padding: 12px 6px;
    overflow-y: auto;
    max-height: 60vh;
}

ul.dropdown::before {
    content: "";
    overscroll-behavior: contain;
    pointer-events: none;
    touch-action: none;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: scroll;
    z-index: -1;
}

ul.dropdown > li {
    height: 42px;
    padding: 0 6px;
    display: flex;
    align-items: center;
}