
.text-field {
    position: relative;
    background: inherit;
    overflow: hidden;
    border-radius: 5px;
}

.text-field > [data-icon] {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    height: 8px;
    overflow: visible;
    bottom: 0;
    margin: auto;
    opacity: .3;
}

.text-field > [data-icon] ~ input {
    padding-left: 42px;
}

.text-field > textarea {
    resize: none;
    line-height: 1.6;
}
